# Introduction to Python

Suatu variabel menyimpan nilai:
* *String* (teks)
* *Integer*, *Float* (angka)
* *Boolean* (True/False)
* *None* (kosong, nilai default seuatu variabel)

**Contoh variabel integer (bilangan bulat)**

In [139]:
x = 1
print(x) # Print untuk menunjukan nilai x

1

In [140]:
x = 2 + x
print(x)

3

In [141]:
y = 2
x_plus_y = x + y
print(x_plus_y)

5

**Contoh variabel decimal (bilangan decimal)**

In [142]:
float_sample = 2.0
print("Contoh float " + str(float_sample)) # Apabila terdapat dua macam data type (string dan float), supaya teks bisa di-print perlu untuk melakukan casting (float menjadi string)

result_float_plus_int = float_sample + x_plus_y
print("Hasil penambahan float dan int", result_float_plus_int) # Hasilnya merupakan float, mencari tingkat presisi yang lebih tinggi

Contoh float 2.0
Hasil penambahan float dan int 7.0

**Contoh variabel string (teks)**

In [143]:
string_sample = "Ini contoh string"
print(string_sample)

Ini contoh string

In [144]:
# Ini contoh comment sebagai catatan keterangan
# Print angka beserta string
print("Hasil penambahan x dan y: " + str(x_plus_y))

Hasil penambahan x dan y: 5

**Contoh variabel Boolean (True/False)**

In [145]:
is_true = True

print(is_true)

is_greater_than_10 = x_plus_y > 10 # Lebih besar dari 10?

print("Nilai penambahan x dan y lebih dari 10? " + str(is_true))

if is_greater_than_10:
  print("Angka lebih besar dari 10")
else:
  print("Angka lebih kecil atau sama dengan 10")

# 1 baris :)
result_string = "Angka lebih besar dari 10" if is_greater_than_10 else "Angka lebih kecil atau sama dengan 10"

print(result_string)

# Operators
# >, <, ==, !=, is, >=, <=

True
Nilai penambahan x dan y lebih dari 10? True
Angka lebih kecil atau sama dengan 10
Angka lebih kecil atau sama dengan 10

**Variabel List (Array)**

In [146]:
array_example = [1, 2, 3, 4, 5] # Suatu deret angka

# Array dapat menyimpan lebih dari 1 nilai, dibandingkan kita membuat banyak variabel
# Array juga bersifat dinamis, kita dapat menambahkan nilai ataupun menghapus nilai

# Untuk melakukan debug/melihat isi array secara programatis
print(array_example)

[1, 2, 3, 4, 5]

In [147]:
# Untuk membaca nilai array satu per satu, menggunakan loop
for i in array_example: 
  # Dimana i merupakan nama variabel BARU untuk menampung isi array (array_example)
  # array_example merupakan nama variabel array yang SUDAH DIBUAT sebelumnya
  print("Angka: " + str(i)) # Atau bisa juga dengan, print("Angka", i)

Angka: 1
Angka: 2
Angka: 3
Angka: 4
Angka: 5

In [148]:
# Melakukan operasi terhadap isi array
for i in array_example:
  i += 1 # Sama saja dengan i = i + 1
  i *= 3 # Sama saja dengan i = i * 3

  print("Angka", i)

Angka 6
Angka 9
Angka 12
Angka 15
Angka 18

In [149]:
# Suatu array terdiri dari elemen/isi serta index yang menunjukan posisi suatu elemen

another_array = [6, 7, 8, 9, 10] # 6, 7, 8, 9, 10 adalah elemen

for index, element in enumerate(another_array):
  print("Angka ke-" + str(index) + " : " + str(element))

# Maka, kita melihat index suatu array dimulai dari angka 0, 1, dan seterusnya

Angka ke-0 : 6
Angka ke-1 : 7
Angka ke-2 : 8
Angka ke-3 : 9
Angka ke-4 : 10

In [150]:
# Mencari suatu nilai pada array

# Mencari angka 9, di index berapa?

index_9 = another_array.index(9)

print("Angka 9 ditemukan di index ke", index_9)

# Mencari angka yang tidak ditemukan

# Cara 1

for index, element in enumerate(another_array):
  # Menggunakan keyword if untuk mengecek suatu kondisi
  if element == 11:
    print("Angka 11 ditemukan di index", index)
    break

# Cara 2

#index_11 = another_array.index(11)

#print("Angka 11 ditemukan di index ke", index_11)

# Error Handling

# try:
#   index_11 = another_array.index(11)

#   print("Angka 11 ditemukan di index ke", index_11)
# except ValueError as e:
#   print("Terdapat kesalahan:", e)

Angka 9 ditemukan di index ke 3

In [151]:
# Cool loop one-liners :)

another_array_doubled = [2 * element for element in another_array]

print(another_array_doubled)

# Sama saja dengan:
another_array_doubled = [] # Membuat sebuah array kosong

for i in another_array:
   i *= 2

   # Gunakan function .append() untuk menambahkan elemen baru ke array
   another_array_doubled.append(i) # Atau, another_array_doubled.append(i * 2)

print(another_array_doubled)

# Lebih simple kan :)

# Menambahkan kondisi

# Mencari bilangan yang tidak habis dibagi 2 (bilangan ganjil), lalu dikalikan 2
another_array_doubled_odd = [2 * element for element in another_array if element % 2 != 0]
print(another_array_doubled_odd)

[12, 14, 16, 18, 20]
[12, 14, 16, 18, 20]
[14, 18]

# Assignments


1. Buatlah suatu list kosong bernama `numbers`. Lalu, buatlah loop yang secara otomatis menambahkan nomor 1-10 ke list tersebut. 
  * Hint: Gunakan function `range()` untuk melakukan loop selama `n` kali

2. Tambahkan setiap nilai numbers sebanyak 2.

3. Cek untuk setiap angka ganjil, apabila ganjil tambahkan angka 1.

4. Hapus semua angka yang lebih kecil dari 5 di list.
  * Hint: Gunakan function `remove()`

5. Print semua nilai isi di list dengan format:
  * Angka ke-(index) bernilai (angka)
  * Misal: Angka ke-0 bernilai 10

6. Print semua angka yang habis dibagi 2, dengan format:
  * Angka ke-(index) bernilai (angka)
  * Misal: Angka ke-0 bernilai 10

In [152]:
#Jawaban 1
numbers = []
temp = []
for i in range(10):
  i += 1
  temp.append(i)
  numbers = temp
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
#Jawaban 2
temp = [n + 2 for n in numbers]
numbers = temp
print (numbers)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [154]:
#Jawaban 3
for i in range(len(numbers)):
  if (numbers[i] % 2 == 1):
    temp = numbers[i] + 1
    numbers[i] = temp
print (numbers)

[4, 4, 6, 6, 8, 8, 10, 10, 12, 12]

In [155]:
#Jawaban 4
temp = [i for i in numbers if i >5]
numbers = temp
print (numbers)

[6, 6, 8, 8, 10, 10, 12, 12]

In [156]:
#Jawaban 5
for index, elements in enumerate(numbers):
  print("Angka ke-" + str(index + 1) + " : " +  str(elements))

Angka ke-1 : 6
Angka ke-2 : 6
Angka ke-3 : 8
Angka ke-4 : 8
Angka ke-5 : 10
Angka ke-6 : 10
Angka ke-7 : 12
Angka ke-8 : 12

In [157]:
#Jawaban 6
for index, elements in enumerate(numbers):
  if (elements % 2 == 0):
    print("Angka ke-" + str(index + 1) + " : " +  str(elements))

Angka ke-1 : 6
Angka ke-2 : 6
Angka ke-3 : 8
Angka ke-4 : 8
Angka ke-5 : 10
Angka ke-6 : 10
Angka ke-7 : 12
Angka ke-8 : 12

**Functions**

In [158]:
# Melakukan suatu instruksi terus menerus

# Mencari nomor 11
for index, element in enumerate(another_array):
  # Menggunakan keyword if untuk mengecek suatu kondisi
  if element == 11:
    print("Angka 11 ditemukan di index", index)
    break

# Mencari nomor lain....

for index, element in enumerate(another_array):
  # Menggunakan keyword if untuk mengecek suatu kondisi
  if element == 9:
    print("Angka 11 ditemukan di index", index)
    break
    
#Pakai Function
def find_number(list_numbers, the_number): # Parameter list_number (array) & the_number (integer)
  for i in list_numbers:
    if i == the_number:
      print("Angka " + str(the_number) + " ditemukan di index " + str(i))

find_number(another_array, 9)
find_number(another_array, 13)

def find_number(list_numbers, the_number): # Parameter list_number (array) & the_number (integer)
  for index, i in enumerate(list_numbers):
    if i == the_number:
      print("Angka " + str(the_number) + " ditemukan di index " + str(i))
    elif index == len(list_numbers) - 1 and i != the_number: # Apabila sudah di akhir loop namun angka terakhir bukan juga angka yang kita cari
      print("Maaf, angka " + str(the_number) + " tidak ditemukan")

find_number(another_array, 13)

# Mekanisme diubah, memberikan sebuah nilai (returns a value)

def find_number(list_numbers, the_number):
  result_index = -1 # Angka yang akan direturn sebagai index, default value -1 karena belum ditemukan

  for index, i in enumerate(list_numbers):
    if i == the_number:
      result_index = index
      break

  return result_index # Apabila ditemukan, maka akan me-return suatu angka integer > -1. Apabila tidak, akan return -1.

# Membuat sebuah variabel untuk menampung nilainya

number_index = find_number(another_array, 9)

print("Angka 9 ditemukan di index " + str(number_index))

Angka 11 ditemukan di index 3
Angka 9 ditemukan di index 9
Maaf, angka 13 tidak ditemukan
Angka 9 ditemukan di index 3

**Multi-Dimensional Array**

In [159]:
# Sebelumnya, kita hanya membahas Array 1 dimensi (1 deret)

one_dimensional_list = [1, 2, 3, 4, 5, 6]

# Kini, kita akan membuat deret didalam deret

two_dimensional_list = [[1, 2], [3, 4], [5, 6]] # Matrix

# Matrix/Array 2x3
# [1, 2]
# [3, 4]
# [5, 6]

# print(two_dimensional_list)

# Loop

# for i in two_dimensional_list:
#   print(i)

# Kita perlu loop di dalam loop!

# for i in two_dimensional_list:
#   # i merupakan array
#   for j in i:
#     print(j) # j merupakan integer

three_dimensional_list = [
                          [
                           [1, 2], 
                           [3, 4], 
                           [5, 6]
                          ], 
                          [
                           [7, 8], 
                           [9, 10], 
                           [11, 12]
                           ]
                          ]

# Matrix/Array 2x3x2

for i in three_dimensional_list:
  for j in i:
    for k in j:
      print(k)

1
2
3
4
5
6
7
8
9
10
11
12

**Dictionary**

In [160]:
dictionary_sample = {
    "name": "Budi",
    "age": 10,
    "test_scores": [100.0, 98.0, 89.0]
}

#contoh_dict = {
 #   "Nama": "Test",
  #  "Year": "1999",
   # "Num": [10.2, 12,9]

#}
# Menyimpan value dengan index yang dapat dibaca (string)

print(dictionary_sample['name']) # name dalam kasus ini merupakan attribute/property

print(dictionary_sample.keys()) # Memunculkan semua attribute yang bisa didapat

for attribute in dictionary_sample.keys():
  print(attribute, dictionary_sample[attribute])

#Array Berisi Dictionaries
array_of_dictionaries = [{
    "name": "Budi",
    "age": 10,
    "test_scores": [100.0, 98.0, 89.0]
},
{
    "name": "Charlie",
    "age": 12,
    "test_scores": [90.0, 100.0]
}]

for element in array_of_dictionaries:
  print(element)

Budi
dict_keys(['name', 'age', 'test_scores'])
name Budi
age 10
test_scores [100.0, 98.0, 89.0]
{'name': 'Budi', 'age': 10, 'test_scores': [100.0, 98.0, 89.0]}
{'name': 'Charlie', 'age': 12, 'test_scores': [90.0, 100.0]}

In [161]:
#Semua dictionary yang ada di array
for element in array_of_dictionaries:
  print(element)

{'name': 'Budi', 'age': 10, 'test_scores': [100.0, 98.0, 89.0]}
{'name': 'Charlie', 'age': 12, 'test_scores': [90.0, 100.0]}

In [162]:
#Spesifik
for element in array_of_dictionaries:
  for attribute in element.keys():
    if element["name"] == 'Charlie': 
      print(element)
      break

{'name': 'Charlie', 'age': 12, 'test_scores': [90.0, 100.0]}

# Assignments


1.   Membuat function `get_students_averages()` untuk mendapatkan nilai rata-rata ujian untuk masing-masing student dari array `array_of_dictionaries`. Function menerima 1 parameter:

  *   `dictionary_list` (array of dictionaries)

  Lalu, function akan menjalankan function `print()` yang menghasilkan output seperti berikut:

    > Pelajar Budi dengan umur 10 mendapatkan nilai rata-rata 95.67  
    > Pelajar Charlie dengan umur 12 mendapatkan nilai rata-rata 95.0


2.   Membuat function `get_students_min_score()` untuk mendapatkan nilai ujian terkecil untuk masing-masing student dari array `array_of_dictionaries`. Function menerima 1 parameter:

  *   `dictionary_list` (array of dictionaries)

  Lalu, function akan menjalankan function `print()` yang menghasilkan output seperti berikut:
  
    > Pelajar Budi dengan umur 10 mendapatkan nilai terkecil 89.0
    > Pelajar Charlie dengan umur 12 mendapatkan nilai terkecil 90.0

3.   Membuat function `get_students_max_score()` untuk mendapatkan nilai ujian terbesar untuk masing-masing student dari array `array_of_dictionaries`. Function menerima 1 parameter:

  *   `dictionary_list` (array of dictionaries)

  Lalu, function akan menjalankan function `print()` yang menghasilkan output seperti berikut:
  
    > Pelajar Budi dengan umur 10 mendapatkan nilai terbesar 100.0
    > Pelajar Charlie dengan umur 12 mendapatkan nilai terbesar 100.0

4.   Membuat function `get_max_score_by_student()` untuk mendapatkan nilai ujian terbesar untuk suatu student dari array `array_of_dictionaries`. Function menerima 2 parameter:

  *   `dictionary_list` (array of dictionaries)
  *   `student_name` (nama pelajar yang ingin dicari nilai terbesarnya)

  Lalu, function akan menjalankan function `print()` yang menghasilkan output seperti berikut ketika function `get_max_score_by_student(dictionary_sample, "Charlie")` dijalankan:

  > Pelajar Charlie dengan umur 12 mendapatkan nilai terbesar 100.0

5. Membuat function get_all_time_max_avg_score() untuk mendapatkan nilai rata-rata ujian terbesar dari semua pelajar. Function menerima 1 parameter:

  *   `dictionary_list` (array of dictionaries)

  Lalu, function akan menjalankan function `print()` yang menghasilkan output seperti berikut:

  > Pelajar Budi dengan umur 10 mendapatkan nilai rata-rata terbesar, yaitu 95.67

6. Membuat function add_student() untuk menambahkan seorang pelajar ke array dictionary yang sudah ada. Function menerima 2 parameter:
  
  * `dictionary_list` (array of dictionaries)
  * `student_dictionary` (dictionary student yang akan dimasukan ke array)

  Lalu, function akan memberikan return value dictionary baru yang sudah ditambahkan dengan student_dictionary yang diberikan di parameter.

  Sehingga, ketika kode ini dijalankan 

  `updated_dictionary = add_student(array_of_dictionaries, {
    "name": "Doddy",
    "age": 13,
    "test_scores": [100.0, 100.0, 100.0]
  })`
  
  `print(updated_dictionary)`

  Maka, sistem akan mengeluarkan isi list yang sudah ditambahkan dengan dictionary baru.

In [163]:
for element in array_of_dictionaries:
  for attribute in element.keys():
    if element["age"] == 10: 
      print(array_of_dictionaries[1]['name'])
      break

Charlie

In [164]:
#Jawaban 1
def get_students_averages(dictionary_list):
  for element in dictionary_list:
    lensum = len(element['test_scores'])
    elesum = sum(element['test_scores'])
    meansum = elesum / lensum
    print("Pelajar " + str(element['name']) + " dengan umur " + str(element['age']) + " mendapatkan nilai rata-rata " + str(round(meansum, 2)))

get_students_averages(array_of_dictionaries)

Pelajar Budi dengan umur 10 mendapatkan nilai rata-rata 95.67
Pelajar Charlie dengan umur 12 mendapatkan nilai rata-rata 95.0

In [165]:
#Jawaban 2
def get_students_min_score(dictionary_list):
  for element in dictionary_list:
    print("Pelajar " + str(element['name']) + " dengan umur " + str(element['age']) + " mendapatkan nilai terkecil " + str(min(element['test_scores'])))

get_students_min_score(array_of_dictionaries)

Pelajar Budi dengan umur 10 mendapatkan nilai terkecil 89.0
Pelajar Charlie dengan umur 12 mendapatkan nilai terkecil 90.0

In [166]:
#Jawaban 3
def get_students_max_score(dictionary_list):
  for element in dictionary_list:
    print("Pelajar " + str(element['name']) + " dengan umur " + str(element['age']) + " mendapatkan nilai terbesar " + str(max(element['test_scores'])))

get_students_max_score(array_of_dictionaries)

Pelajar Budi dengan umur 10 mendapatkan nilai terbesar 100.0
Pelajar Charlie dengan umur 12 mendapatkan nilai terbesar 100.0

In [167]:
#Jawaban 4
def get_max_score_by_student(dictionary_list, student_name):
  for element in dictionary_list:
    for attribute in element.keys():
      if(element['name'] == student_name):
        print("Pelajar " + str(element['name']) + " dengan umur " + str(element['age']) + " mendapatkan nilai terbesar " + str(max(element['test_scores'])))
        break
get_max_score_by_student(array_of_dictionaries, "Charlie")

Pelajar Charlie dengan umur 12 mendapatkan nilai terbesar 100.0

In [168]:
#Jawaban 5
def get_all_time_max_avg_score(dictionary_list):
    result = "Pelajar {name} dengan umur {age} mendapatkan nilai rata-rata terbesar, yaitu {average:.2f}"
  
    def average(element):
      return sum(element['test_scores']) / len(element['test_scores'])

    e = max((element for element in dictionary_list), key=average, default=0)
    return result.format(name=e['name'], age=e['age'], average=average(e))

print(get_all_time_max_avg_score(array_of_dictionaries))

Pelajar Budi dengan umur 10 mendapatkan nilai rata-rata terbesar, yaitu 95.67

In [169]:
#Jawaban 6
def add_student(dictionary_list, student_dictionary):
  dictionary_list.append(student_dictionary)
  return dictionary_list
updated_dictionary = add_student(array_of_dictionaries, { "name": "Doddy", "age": 13, "test_scores": [100.0, 100.0, 100.0] })
print(updated_dictionary)

[{'name': 'Budi', 'age': 10, 'test_scores': [100.0, 98.0, 89.0]}, {'name': 'Charlie', 'age': 12, 'test_scores': [90.0, 100.0]}, {'name': 'Doddy', 'age': 13, 'test_scores': [100.0, 100.0, 100.0]}]